<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>タスク追加</title>
</head>
<body>
<div class="header-contents">
  <h1>タスク追加</h1>
</div>
<div class="main-contents">
  <div class="errorMessages" th:if="${errorMessages}" th:each="errorMessage : ${errorMessages}">
    <span th:text="${errorMessage}"></span>
  </div>
  <form action="/add" th:object="${tasksForm}" th:method="post">
    <div class="content">
      タスク内容<br/>
      <textarea class="tweet-box" th:field="*{content}" size="20" maxlength="200"/></textarea>
    </div>
    <div class="date">
      タスク期限<br/>
      <input th:field="*{limitDate}" type="date">
    </div>
    <input type="submit" value="追加">
  </form>
  <a th:href="@{/}">戻る</a>
</div>
</body>
</html>