<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/delete.js}"></script>
    <script th:src="@{/js/updateStatus.js}"></script>
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>ToDo</h1>
</div>
<div class="main-contents">
    <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
        <span th:text="${errorMessage}"></span>
    </div>
    <div class="today-date">
        本日の日付 : <span th:text="${#temporals.format(now, 'yyyy/MM/dd')}"/>
    </div>
    <br/>
    <a href="/new">
        <button class="new-button" type="button">新規タスク</button>
    </a>
    <div class="filter">
        <form method="get">
            期限
            <input name="start" type="date" th:value="${searchStart}"/>
            ～
            <input name="end" type="date" th:value="${searchEnd}"/>
            ステータス
            <select name="status">
                <option value="" th:selected="${searchStatus == null}">すべて</option>
                <option value="1" th:selected="${searchStatus == 1}">未着手</option>
                <option value="2" th:selected="${searchStatus == 2}">実行中</option>
                <option value="3" th:selected="${searchStatus == 3}">ステイ中</option>
                <option value="4" th:selected="${searchStatus == 4}">完了</option>
            </select>
            タスク内容
            <textarea name="content" th:text="${searchContent}"></textarea>
            <input type="submit" value="絞込"/>
        </form>
    </div>
    <div class="tasks">
        <div class="titles">
            <div class="content-title">タスク内容</div>
            <div class="status-title">ステータス</div>
            <div class="limit-date-title">タスク期限</div>
        </div>
        <div class="tasks-icon" th:each="tasks : ${tasksList}">
            <div class="content">
                <pre><span th:text="${tasks.content}"/></pre>
            </div>
            <div class="status">
                <form th:action="@{/update-status/{id}(id=${tasks.id})}" th:method="put">
                    <select name="status">
                        <option value="1" th:selected="${tasks.status == 1}">未着手</option>
                        <option value="2" th:selected="${tasks.status == 2}">実行中</option>
                        <option value="3" th:selected="${tasks.status == 3}">ステイ中</option>
                        <option value="4" th:selected="${tasks.status == 4}">完了</option>
                    </select>
                    <input class="update-states-button" type="submit" value="変更">
                </form>

            </div>
            <div class="limit-date">
                <span th:text="${#temporals.format(tasks.limitDate, 'yyyy/MM/dd')}"
                      th:style="${tasks.limitDate.isAfter(now)} ? 'background-color:yellow;' : 'background-color:red;'"/>
            </div>
            <div class="edit-button">
                <a th:href="@{/edit/{id}(id=${tasks.id})}">
                    <input type="button" value="編集">
                </a>
            </div>
            <div class="delete-button">
                <form th:action="@{/delete/{id}(id=${tasks.id})}" th:method="delete">
                    <input name="content" th:value="${tasks.content}" type="hidden"/>
                    <input class="delete" type="submit" value="削除"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>